<div class="top-container">
    <form [formGroup]="userForm" (ngSubmit)="submitRegister()" novalidate>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <b>Welcome</b>, please add the required information for continue
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group" [ngClass]="userForm.controls['username'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-username"><img src="assets/images/username.svg" alt=""
                                                                              width="25px"></span>
                    <input type="text" class="form-control" name="username" formControlName="username"
                           [(ngModel)]="user.userName" placeholder="Username" aria-describedby="form-username" required>

                </div>
                <small class="form-control-feedback margin-form" [hidden]="userForm.controls['username'].valid">{{getErrorMessage('username')}}</small>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="input-group" [ngClass]="userForm.controls['firstname'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-first-name"><img src="assets/images/name.svg" alt=""
                                                                         width="25px"></span>
                    <input type="text" class="form-control" name="firstname" formControlName="firstname"
                           [(ngModel)]="user.firstName" placeholder="First Name" aria-describedby="form-first-name" required>

                </div>
                <small class="form-control-feedback margin-form" [hidden]="userForm.controls['firstname'].valid">{{getErrorMessage('firstname')}}</small>
            </div>
            <div class="col-md-4">
                <div class="input-group" [ngClass]="userForm.controls['lastname'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-last-name"><img src="assets/images/name.svg" alt=""
                                                                            width="25px"> </span>
                    <input type="text" class="form-control" name="lastname" formControlName="lastname"
                           [(ngModel)]="user.lastName" placeholder="Last Name" aria-describedby="form-last-name"
                           required>
                </div>
                <small class="form-control-feedback margin-form" [hidden]="userForm.controls['lastname'].valid">{{getErrorMessage('lastname')}}</small>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="input-group" [ngClass]="userForm.controls['email'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-email"><img src="assets/images/mail.svg" alt=""
                                                                         width="25px"></span>
                    <input type="email" class="form-control" name="email" formControlName="email"
                           [(ngModel)]="user.email" placeholder="Email" aria-describedby="form-email" required>

                </div>
                <small class="form-control-feedback margin-form" [hidden]="userForm.controls['email'].valid">{{getErrorMessage('email')}}</small>
            </div>
            <div class="col-md-4">
                <div class="input-group" [ngClass]="userForm.controls['password'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-password"><img src="assets/images/password.svg" alt=""
                                                                            width="25px"> </span>
                    <input type="password" class="form-control" name="password" formControlName="password"
                           [(ngModel)]="user.password" placeholder="Password" aria-describedby="form-password"
                           required>
                </div>
                <small class="form-control-feedback margin-form" [hidden]="userForm.controls['password'].valid">{{getErrorMessage('password')}}</small>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" [disabled]="!userForm.valid"
                    class="btn btn-primary">Register
            </button>
        </div>
    </form>
</div>

