<div class="row justify-content-center margin-rows">
    <div class="col-md-8">
        <div [hidden]="url" class="row">
            <input-reader (completed)="completedImageReader($event)"></input-reader>
        </div>
        <div  [hidden]="url" class="row">
            <div class="col">
                <ngb-progressbar type="info" [showValue]="true" [striped]="true"
                                 [value]="getProcessValue()"></ngb-progressbar>
            </div>
        </div>
        <div [hidden]="!url" class="justify-content-center row">
            <img [src]="url" width="60%" height="60%">
        </div>
    </div>
</div>

