<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
            <img src="assets/images/logo.svg" width="100" height="100" class="align-middle center-div"
                 alt="">
        <button type="button" class="close" aria-label="Close" (click)="d('Button pressed')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Sign in to <b>Bloway</b> to connect with people and share ideas.</h6>
        <hr>
        <button type="button" (click)="showRegister()" class="btn btn-primary btn-lg btn-block">Register / Sign up</button>
        <button type="button" (click)="showLogin()" class="btn btn-secondary btn-lg btn-block">Login / Sign in</button>
    </div>
</ng-template>

<button class="btn btn-sm align-middle btn-outline-primary padding-top" (click)="open(content)">Login/Register</button>
