<div class="post row" (click)="showDetail();">

    <div class="margin-right">
        <img height="150" [src]="post.post.urlImage">
    </div>
    <div class="col body">
        <header class="row ">
            <h3>{{post.post.title}}</h3>
        </header>
        <div class="row summary">
            {{post.post.summary}}
        </div>
        <br>
        <div class="row user">
            <!--<div class="col-1">
                <img height="50" src="http://localhost:8080/images/img.jpg">
            </div>-->
            <div class="col">
                <small>
                    {{post.user.firstName}} {{post.user.lastName}}<br>
                    @{{post.user.userName}}
                </small>
            </div>
        </div>
    </div>


</div>
