.post {
    /*background-color: #f7f7f7;*/
    -webkit-border-radius:2%;
    -moz-border-radius:2%;
    border-radius:2%;
    margin-top: 5px;
    margin-bottom:15px;
}
.margin-right{
    margin-right: 5px;
}

.margin-right img{
    border-radius:2%;
}
.summary {
    padding-left: 5px;
}
.body {
    position:relative !important;
}

.body .user {
    width:100%;
    margin-bottom: 10px;
    position: absolute !important;
    bottom: 0;
}
.user img{
    border-radius: 50%;
}
