<form (ngSubmit)="submit()" class="row">
    <div class="col">
        <input class="btn" type="file" name="pic" (change)="changeListener($event)" accept="image/*">
    </div>
    <div class="col">
        <input class="btn btn-sm padding-top btn-outline-primary" type="submit" [hidden]="valid()">
    </div>

</form>
