<ul class="nav justify-content-center bg-faded bar-navigation">
    <li class="nav-item">
        <a class="nav-link" href="posts/category/1">Bussines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/2">Culture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/3">Food</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/4">Live</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/5">Society</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/6">Technology</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/7">Science</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/8">Design</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/9">Work</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts/category/10">Videos</a>
    </li>
</ul>
