<div class="top-container">
    <div class="row justify-content-center">
        <div class="col">
            <h3>{{post.post.title}}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <img [src]="post.post.urlImage" width="60%" height="60%">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            {{post.post.summary}}
        </div>
    </div>
</div>


