<div class="container top-container">
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin($event)" novalidate>
        <div class="row justify-content-center">
            <div class="col-md-5">
                We are proud to see you again, please insert the email and password to access
            </div>
        </div>
        <div class="row justify-content-center red" [hidden]="!error">
            {{error}}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 align-self-center">
                <div class="input-group" [ngClass]="loginForm.controls['email'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-email"><img src="assets/images/mail.svg" alt=""
                                                                         width="25px"></span>
                    <input type="email" class="form-control" name="email" formControlName="email"
                           [(ngModel)]="login.email" placeholder="Email" aria-describedby="form-email" required>

                </div>
                <small class="form-control-feedback margin-form" [hidden]="loginForm.controls['email'].valid">{{getErrorMessage('email')}}</small>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 align-self-center">
                <div class="input-group" [ngClass]="loginForm.controls['password'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-password"><img src="assets/images/password.svg" alt=""
                                                                            width="25px"> </span>
                    <input type="password" class="form-control" name="password" formControlName="password"
                           [(ngModel)]="login.password" placeholder="Password" aria-describedby="form-password"
                           required>
                </div>
                <small class="form-control-feedback margin-form" [hidden]="loginForm.controls['password'].valid">{{getErrorMessage('password')}}</small>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" [disabled]="! loginForm.valid"
                    class="btn btn-primary">Login
            </button>
        </div>
    </form>
</div>

