<div class="top-container">

    <form [formGroup]="postForm" novalidate>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <b>Thanks</b>, please add the required information for publish a post.
                You can add the body with the buttons for create a new body element or a image to
                add a image
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" [disabled]="!(postForm.valid && post.urlImage && post.category)"
                    class="btn btn-primary"
                    (click)="submitPost()">Push
            </button>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-sm  btn-outline-primary" (click)="addBody()">Add Body</button>
            <button class="btn btn-sm  btn-outline-primary" (click)="addImage()">Add Image</button>

        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group" [ngClass]="postForm.controls['title'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-title">Title</span>
                    <input type="text" class="form-control" name="title" formControlName="title"
                           [(ngModel)]="post.title" placeholder="Title" aria-describedby="form-title" required>

                </div>
                <small class="form-control-feedback margin-form" [hidden]="postForm.controls['title'].valid">
                    {{getErrorMessage('title')}}
                </small>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group" [ngClass]="postForm.controls['summary'].valid ? 'has-success' : 'has-danger'">
                    <span class="input-group-addon" id="form-summary">Summary</span>
                    <textarea type="text" class="form-control" name="summary" formControlName="summary"
                              [(ngModel)]="post.summary" placeholder="Summary" aria-describedby="form-summary" required>
                    </textarea>
                </div>
                <small class="form-control-feedback margin-form" [hidden]="postForm.controls['summary'].valid">
                    {{getErrorMessage('summary')}}
                </small>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-md-8 justify-content-center">
            <div [(ngModel)]="post.category" ngbRadioGroup>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" [value]="1"> Bussines
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="2"> Culture
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="3"> Food
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="4"> Live
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="5"> Society
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="6"> Technology
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="7"> Science
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="8"> Design
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="9"> Work
                </label>
                <label class="btn btn-sm  btn-outline-primary">
                    <input type="radio" value="10"> Videos
                </label>

            </div>
            <div>
                <small class="form-control-feedback margin-form" [hidden]="post.category">
                    Required
                </small>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 justify-content-center">
            <push-image [row]="-1" (completed)="pushedImage($event)"></push-image>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 justify-content-center">
            <small class=" row form-control-feedback margin-form" [hidden]="post.urlImage">
                Required
            </small>
        </div>
    </div>

</div>

