<div class="row justify-content-center margin-rows">
    <div class="col-md-8">
        <div class="input-group">
            <textarea type="text" [(ngModel)]="body" (change)="change($event)"
                      class="form-control" id="formGroupExampleInput"></textarea>
        </div>
    </div>
</div>
