<header>
    <nav class="navbar fixed-top navbar-light bg-faded">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <a class="navbar-brand" href="#">
                        <img src="assets/images/logo.svg" width="30" height="30" class="d-inline-block align-top"
                             alt="">
                    </a>
                    <h1 class="navbar-brand mb-0">Bloway</h1>
                </div>
                <div class="col-sm-6 contend-right-alignment">
                    <login-register-modal [hidden]="checkRegistered()"></login-register-modal>
                    <!--<button [hidden]="!checkRegistered()"
                            class="btn btn-sm align-middle btn-outline-primary padding-top">New Blog
                    </button>-->
                    <button [hidden]="!checkRegistered()"
                            class="btn btn-sm align-middle btn-outline-primary padding-top" (click)="goToNewPost()">New Post
                    </button>
                    <button ngbDropdown [hidden]="!checkRegistered()"
                            class="dropdown btn btn-sm btn-svg align-middle btn-outline-primary padding-top">
                        <a class="dropdown-toggle" ngbDropdownToggle
                           aria-expanded="false">
                            <svg width="16px" height="16px" class="btn-inside-svg">
                                <use xlink:href="assets/images/username.svg#username"></use>
                            </svg>
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">My Blogs</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </button>

                </div>

                <div class="col-sm-3 padding-top">
                    <input type="text" class="form-control form-control-sm" id="inputSearch"
                           placeholder="Search">
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="cat-header">
    <categories-header></categories-header>
</div>
