.col-sm-4 input {
    margin-top: 3px;
}

header nav .container {
    border-bottom: 1px solid rgba(39, 131, 241, 0.2);
}

.cat-header {
    margin-top: 55px;
}

.padding-top {
    margin-top: 3px;
}

.contend-right-alignment {
    text-align: right;
}

.btn-svg {
    padding-top: 3px !important;
    padding-bottom: 2px !important;
}

.btn-svg:hover .btn-inside-svg {
    stroke: white !important;
}

.btn-inside-svg {
    stroke: rgb(2, 117, 216);
    stroke-width: 4px;
}
